@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>NAME TBD</h1>
<p>A fan community dedicated to TVXQ.</p>

<p>Objectives</p>
<ul>
    <li>Archive the content posted on fansites and social media accounts</li>
    <li>Allow fans to make contributions to the site</li>
</ul>