@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>The Team</h2>

<div><img src="http://upload.wikimedia.org/wikipedia/commons/3/34/Florida_Box_Turtle_Digon3.jpg" style="height: 100px; float: left;"/>
    <p>Turtle</p>UI Design, Lead Fangirl</div>

<p></p>

<div style="clear: both;"><p>Mr. Fridge</p>
    Architect, Lead Developer</div>

<p></p>

<h2>Contact</h2>
<strong>E-mail:</strong> <a href="mailto:amagiri@outlook.com">amagiri@outlook.com</a>