@{
    ViewBag.Title = "Post Result";
}

<div id="postcontainer">
    <div class="postcontent">Test</div>
    <div class="postdata">Test</div>
    <div class="postactions">Teeeeeeeeeeeeest</div>
</div>