@{
    ViewBag.Title = "SearchResult";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<button type="button" class="btn btn-left"><span class="glyphicon glyphicon-chevron-left"></span></button>
<button type="button" class="btn btn-right"><span class="glyphicon glyphicon-chevron-right"></span></button>
<div id="searchcontainer" class="pure-g">
    <article class="postitem posttypevideo pure-u-1-4" id="2615">
        <div class="postwrapper">
            <div class="postheader">
                Suri Suri (Spellbound) Music Video
            </div>
            <div class="postcontent">
                <iframe src="https://www.youtube.com/embed/VFXEqwHBjvk?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="postactions">
            <ul>
                <li><span class="glyphicon glyphicon-heart"></span></li>
                <li><span class="glyphicon glyphicon-share-alt"></span></li>
                <li><span class="glyphicon glyphicon-edit"></span></li>
                <li><span class="glyphicon glyphicon-tags"></span></li>
            </ul>
            <ul class="postpermalink"><li><span class="glyphicon glyphicon-th"></span></li></ul>
            <div class="posttagblock">
               
            </div>
        </div>
    </article>
    <article class="postitem posttypeimage pure-u-1-4" id="5648">
        <div class="postwrapper">
            <div class="postheader">
                Suri Suri (Spellbound) Music Video
            </div>
            <div class="postcontent">
                <a href="http://i.imgur.com/Yk2cfNg.jpg"><img src="http://i.imgur.com/Yk2cfNg.jpg" /></a>
            </div>
        </div>
        <div class="postactions">
            <ul>
                <li>Like</li>
                <li>Share</li>
                <li>Edit</li>
                <li>Tag</li>
            </ul>
            <ul class="postpermalink"><li><span class="glyphicon glyphicon-option-horizontal"></span></li></ul>
            <div class="posttagblock">

            </div>
        </div>
    </article>
    <article class="postitem posttypeimage pure-u-1-4" id="6123">
        <div class="postwrapper">
            <div class="postheader">
                140324 From Star
            </div>
            <div class="postcontent">
                <a href="http://i.imgur.com/u6G0OC7.jpg"><img src="http://i.imgur.com/u6G0OC7.jpg" /></a>
            </div>
        </div>
        <div class="postactions">
            <ul>
                <li>Like</li>
                <li>Share</li>
                <li>Edit</li>
                <li>Tag</li>
            </ul>
            <ul class="postpermalink"><li>More</li></ul>
            <div class="posttagblock">

            </div>
        </div>
    </article>
    <article class="postitem posttypevideo pure-u-1-4" id="3642">
        <div class="postwrapper">
            <div class="postheader">
                150207 Spinning (Partial Live)
            </div>
            <div class="postcontent">
                <iframe src="https://www.youtube.com/embed/wjeddG7sLa0?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="postactions">
            <ul>
                <li>Like</li>
                <li>Share</li>
                <li>Edit</li>
                <li>Tag</li>
            </ul>
            <ul class="postpermalink"><li>More</li></ul>
            <div class="posttagblock">

            </div>
        </div>
    </article>
</div>
