@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="searchcontainer">
    <article class="postitem"><section class="postheader"></section>Insert content here.</article>
    <article class="searchitem">Insert content here.</article>
    <article class="searchitem">Insert content here.</article>
</div>
