/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face {
    font-family: 'communistregular';
    src: url('Webfonts/Communist/communist_regular/COMMUNIS-webfont.eot');
    src: url('Webfonts/Communist/communist_regular/COMMUNIS-webfont.eot?#iefix') format('embedded-opentype'),
         url('Webfonts/Communist/communist_regular/COMMUNIS-webfont.woff') format('woff'),
         url('Webfonts/Communist/communist_regular/COMMUNIS-webfont.ttf') format('truetype'),
         url('Webfonts/Communist/communist_regular/COMMUNIS-webfont.svg#communistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family "Verdana", sans-serif;
    margin: auto;
}

#nav {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "communistregular", "Times New Roman", serif;
    padding: 2px 1px;
}

#nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

#logo {
    display: inline;
    margin: 0 2px;
    text-align: center;
}

#main-nav, #user-control {
    display: inline;
    margin: 0 2px;
}

#user-control {
    float: right;
}
